@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Product Manager</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@foreach (var product in Model.Products)
{
    <div class="card">
        <div class="card-img" style="background-image: url('@product.Image');">
        </div>
        <div class="card-body">
            <p class="card-text">@product.Name</p>
            <span>@product.Price</span>
        </div>
    </div>
}