@model FormLoginMVC.Models.Notification 
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <h1></h1>
        <br />
        <h2></h2>
        <form action="/" method="post">
            <label>Username:</label>
            <input type="text"  />
            <label>Password: </label>
            <input type="password" />
            <button type="submit">Login</button>
        </form>
    </body>
    </html>