@{
    ViewData["Title"] = "Home Page";
}

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Contact</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Contact</a></li>
        </ul>
    </div>
    <h2>Welcome!</h2>