@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng bạn đẫ đến với Sopiration</h1>
    <p>Sopiration <a href="https://docs.microsoft.com/aspnet/core">Giá trị tiên phong - Lợi ích theo đuổi</a>.</p>
</div>
