<h1>Welcome MVC ASP.NET Core</h1>
@*Sử dụng model để lấy dữ liệu truyền cho view*@
@model IQueryable<Product>
@foreach(var p in Model)
{
    <div>
        <h3>@p.Name</h3>
        @p.Description
    <h4> @p.Price.ToString("c")</h4>
    </div>
} 